In [1]:
# Install package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install mysql-connector-python
!{sys.executable} -m pip install tqdm

import mysql.connector
import tqdm

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (4.47.0)

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="jake",
  password="915997582"
)

print(db)

cursor = db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001CF69987AF0>

<h1>Create EDDB Database</h1>

In [3]:
cursor.execute("CREATE DATABASE EDDB")

cursor.execute("SHOW DATABASES")

for x in cursor:
  print(x)

('EDDB',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
db = mysql.connector.connect(
  host="localhost",
  user="jake",
  password="915997582",
  database="EDDB"  
)

print(db)

cursor = db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001CF699A8370>

<h1>Table Creation statements</h1>

In [5]:
# SYSTEMS TABLE
create_statement = """
CREATE TABLE _system (
id INT,
edsm_id INT,
name VARCHAR(255),
x FLOAT,
y FLOAT,
z FLOAT,
population INT,
is_populated TINYINT,
government_id INT,
government VARCHAR(255),
allegiance_id INT,
allegiance VARCHAR(255),
security_id INT,
security VARCHAR(255),
primary_economy_id INT,
primary_economy VARCHAR(255),
power VARCHAR(255),
power_state VARCHAR(255),
power_state_id INT,
needs_permit TINYINT,
simbad_ref VARCHAR(255),
controlling_minor_faction_id INT,
controlling_minor_faction VARCHAR(255),
reserve_type_id INT,
reserve_type VARCHAR(255),
ed_system_address INT,
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [6]:
# LISTINGS CATEGORY TABLE
create_statement = """
CREATE TABLE category (
id INT,
name VARCHAR(255),
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [7]:
# SYSTEMS/STATION STATES TABLE
create_statement = """
CREATE TABLE state (
id INT,
name VARCHAR(255),
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [8]:
# COMMODITY TABLE
create_statement = """
CREATE TABLE commodity (
id INT,
name VARCHAR(255),
category_id INT,
average_price INT,
is_rare INT,
max_buy_price INT,
max_sell_price INT,
min_buy_price INT,
min_sell_price INT,
buy_price_lower_average INT,
sell_price_upper_average INT,
is_non_marketable INT,
ed_id INT,
PRIMARY KEY (id),
FOREIGN KEY (category_id) REFERENCES category(id)
)
"""

cursor.execute(create_statement)

In [9]:
# STATION TABLE
create_statement = """
CREATE TABLE station (
id INT,
name VARCHAR(255),
system_id INT,
max_landing_pad_size VARCHAR(255),
distance_to_star INT,
government_id INT,
government VARCHAR(255),
allegiance_id INT,
allegiance VARCHAR(255),
type_id INT,
type VARCHAR(255),
has_blackmarket TINYINT,
has_market TINYINT,
has_refuel TINYINT,
has_repair TINYINT,
has_rearm TINYINT,
has_outfitting TINYINT,
has_shipyard TINYINT,
has_docking TINYINT,
has_commodities TINYINT,
is_planetary TINYINT,
settlement_size_id INT,
settlement_size VARCHAR(255),
settlement_security_id INT,
settlement_security VARCHAR(255),
economy VARCHAR(255),
body_id INT,
controlling_minor_faction_id INT,
ed_market_id INT,
PRIMARY KEY (id),
FOREIGN KEY (system_id) REFERENCES _system(id)
)
"""

cursor.execute(create_statement)

ProgrammingError: 1072 (42000): Key column 'commodity_id' doesn't exist in table

In [ ]:
# LISTINGS TABLE
create_statement = """
CREATE TABLE listing (
id INT,
station_id INT,
supply INT,
supply_bracket INT,
buy_price INT,
sell_price INT,
demand INT,
demand_bracket INT,
PRIMARY KEY (id),
FOREIGN KEY (station_id) REFERENCES station(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# FACTION TABLE
create_statement = """
CREATE TABLE faction (
id INT,
name VARCHAR(255),
government_id INT,
government VARCHAR(255),
allegiance_id INT,
allegiance VARCHAR(255),
home_system_id INT,
is_player_faction INT,
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [ ]:
# MODULE GROUP TABLE
create_statement = """
CREATE TABLE _group (
id INT,
category_id INT,
name VARCHAR(255),
category VARCHAR(255),
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [ ]:
# MODULE TABLE
create_statement = """
CREATE TABLE module (
id INT,
group_id INT,
class INT,
rating VARCHAR(255),
price INT,
weapon_mode VARCHAR(255),
missile_type VARCHAR(255),
name VARCHAR(255),
belongs_to INT,
ed_id INT,
ed_symbol VARCHAR(255),
game_context_id INT,
ship VARCHAR(255),
PRIMARY KEY (id),
FOREIGN KEY (group_id) REFERENCES _group(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# SYSTEMS MINOR FACTION PRESENCES ** NEED to narrow down primary key
create_statement = """
CREATE TABLE minor_faction_presence (
system_id INT,
happiness_id INT,
minor_faction_id INT,
influence FLOAT,
PRIMARY KEY (system_id, minor_faction_id),
FOREIGN KEY (minor_faction_id) REFERENCES faction(id),
FOREIGN KEY (system_id) REFERENCES _system(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# STATION IMPORTS TABLE
create_statement = """
CREATE TABLE imports (
station_id INT,
commodity_id INT,
PRIMARY KEY (station_id, commodity_id),
FOREIGN KEY (station_id) REFERENCES station(id),
FOREIGN KEY (commodity_id) REFERENCES commodity(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# STATION EXPORTS TABLE
create_statement = """
CREATE TABLE exports (
station_id INT,
commodity_id INT,
PRIMARY KEY (station_id, commodity_id),
FOREIGN KEY (station_id) REFERENCES station(id),
FOREIGN KEY (commodity_id) REFERENCES commodity(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# STATION PROHIBITED TABLE
create_statement = """
CREATE TABLE prohibited (
station_id INT,
commodity_id INT,
PRIMARY KEY (station_id, commodity_id),
FOREIGN KEY (station_id) REFERENCES station(id),
FOREIGN KEY (commodity_id) REFERENCES commodity(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# SHIP TABLE
create_statement = """
CREATE TABLE ship (
id INT,
name VARCHAR(255),
PRIMARY KEY (id)
)
"""

cursor.execute(create_statement)

In [ ]:
# STATION SELLING SHIPS TABLE
create_statement = """
CREATE TABLE selling_ship (
station_id INT,
ship_id INT,
PRIMARY KEY (station_id, ship_id),
FOREIGN KEY (station_id) REFERENCES station(id),
FOREIGN KEY (ship_id) REFERENCES ship(id)
)
"""

cursor.execute(create_statement)

In [ ]:
# STATION SELLING MODULES TABLE
create_statement = """
CREATE TABLE selling_module (
station_id INT,
module_id INT,
PRIMARY KEY (station_id, module_id),
FOREIGN KEY (module_id) REFERENCES module(id),
FOREIGN KEY (station_id) REFERENCES station(id)
)
"""

cursor.execute(create_statement)

<h1>Add Foreign key contraints</h1>

In [ ]:
# TWO WAY SYSTEM FACTION KEYS
key_statement = """
ALTER TABLE _system
ADD FOREIGN KEY (controlling_minor_faction_id) REFERENCES faction(id)
"""

cursor.execute(key_statement)

key_statement = """
ALTER TABLE faction
ADD FOREIGN KEY (home_system_id) REFERENCES _system(id)
"""

cursor.execute(key_statement)