In [1]:
# Install package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install mysql-connector-python
import mysql.connector
from tqdm import tqdm

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="915997582",
  database="EDDB"  
)

print(db)

cursor = db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001D937ABAE20>

In [3]:
# How many systems does each faction control
query = """
SELECT COUNT(id), allegiance
FROM system_populated
GROUP BY allegiance
ORDER BY COUNT(id) DESC
"""

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

(10507, 'Independent')
(4556, 'Empire')
(4386, 'Federation')
(1092, 'Alliance')
(19, '-1')
(9, 'Pilots Federation')

In [4]:
# Find the commodity with the largest profit margin.
query = """
SELECT name, max_sell_price, min_buy_price
FROM commodity
ORDER BY (max_sell_price - min_buy_price) DESC
LIMIT 5
"""

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

('Tritium', 52455, 4005)
('Meta-Alloys', 236737, 190461)
('Agronomic Treatment', 30998, 322)
('Ceramic Composites', 27883, 77)
('CMM Composite', 20176, 4807)

In [5]:
# Find the system that sells a given commodity for the lowest price.

name = "Beer"

# get price
query = """
SELECT min_buy_price
FROM commodity
WHERE name = "{name}"
""".format(name=name)

cursor.execute(query)

results = cursor.fetchall()

price = 0

for x in results:
    price = x[0]

# where is it
query = """
SELECT system_populated.name
FROM listing
JOIN station ON station.id=listing.station_id
JOIN system_populated ON station.system_id=system_populated.id
JOIN commodity ON listing.commodity_id=commodity.id
WHERE commodity.name = "{name}" AND listing.buy_price = {price}
""".format(name=name, price=price)

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

('LFT 37',)

In [6]:
# Find the system that buys a given commodity for the highest price.
# BROKEN
name = "Beer"

# get price
query = """
SELECT max_sell_price
FROM commodity
WHERE name = "{name}"
""".format(name=name)

cursor.execute(query)

results = cursor.fetchall()

price = 0

for x in results:
    price = x[0]

# where is it
query = """
SELECT system_populated.name
FROM listing
JOIN station ON station.id=listing.station_id
JOIN system_populated ON station.system_id=system_populated.id
JOIN commodity ON listing.commodity_id=commodity.id
WHERE commodity.name = "{name}" AND listing.buy_price = {price}
""".format(name=name, price=price)

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

In [56]:
# Given a system, station, and range - find the best commodity to buy and sell locally.

trade_range = 12
system_name = "Nerthus"

# Get System Coords
query = """
SELECT x, y, z
FROM system_populated
WHERE name = '{name}'
""".format(name=system_name)

cursor.execute(query)

results = cursor.fetchall()

coords = results[0]

# Get all stations within range with listings
query = """
SELECT station.name, station.id, sys.name, sys.id, commodity.name, commodity.id, listing.sell_price, listing.buy_price, listing.supply
FROM system_populated as sys
JOIN station ON station.system_id = sys.id
JOIN listing ON station.id = listing.station_id
JOIN commodity ON commodity.id=listing.commodity_id
WHERE POWER({trade_range}, 2) >= (POWER(sys.x - {x}, 2) + POWER(sys.y - {y}, 2) + POWER(sys.z - {z}, 2))
""".format(trade_range=trade_range, x=coords[0], y=coords[1], z=coords[2])

cursor.execute(query)

results = cursor.fetchall()

stations = []

for x in results:
    if x[0] == station:
        print(x)

min_buy = dict()
max_sell = dict()
profit = dict()

for x in results:
    if x[8] > 0:
        if x[4] in min_buy:
            if min_buy[x[4]] > x[7]:
                min_buy[x[4]] = x[7]
        else:
            min_buy[x[4]] = x[7]

for x in results:
    if x[4] in min_buy:
        if x[4] in max_sell:
            if max_sell[x[4]] < x[6]:
                max_sell[x[4]] = x[6]
        else:
            max_sell[x[4]] = x[6]
            
for x in min_buy:
    profit[x] = max_sell[x] - min_buy[x]

print(max(profit))
print(profit[max(profit)])

('Muller Station', 2759, 'Nerthus', 14324, 'CMM Composite', 283, 19785, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Ceramic Composites', 115, 3783, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Micro-weave Cooling Hoses', 284, 5950, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Insulating Membrane', 282, 20289, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Superconductors', 24, 10351, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Emergency Power Cells', 288, 6447, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'H.E. Suits', 67, 2082, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Micro Controllers', 300, 6663, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Robotics', 70, 3648, 0, 0)
('Muller Station', 2759, 'Nerthus', 14324, 'Tritium', 362, 44457, 0, 0)

ValueError: max() arg is an empty sequence