In [1]:
# Install package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install mysql-connector-python
!{sys.executable} -m pip install Dijkstar 
import mysql.connector
from tqdm import tqdm
from dijkstar import Graph, find_path

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: Dijkstar in d:\anaconda\lib\site-packages (2.5.0)

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="915997582",
  database="EDDB"  
)

print(db)

cursor = db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x00000265691E41C0>

In [3]:
# How many systems does each faction control
query = """
SELECT COUNT(id), allegiance, sum(population) as populations
FROM system_populated
WHERE NOT allegiance = -1
GROUP BY allegiance
ORDER BY COUNT(id) DESC
"""

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

(10507, 'Independent')
(4556, 'Empire')
(4386, 'Federation')
(1092, 'Alliance')
(19, '-1')
(9, 'Pilots Federation')

In [4]:
# Find the commodity with the largest profit margin.
query = """
SELECT name, max_sell_price, min_buy_price
FROM commodity
ORDER BY (max_sell_price - min_buy_price) DESC
LIMIT 5
"""

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

('Tritium', 52455, 4005)
('Meta-Alloys', 236737, 190461)
('Agronomic Treatment', 30998, 322)
('Ceramic Composites', 27883, 77)
('CMM Composite', 20176, 4807)

In [5]:
# Find the system that sells a given commodity for the lowest price.

name = "Beer"

# get price
query = """
SELECT min_buy_price
FROM commodity
WHERE name = "{name}"
""".format(name=name)

cursor.execute(query)

results = cursor.fetchall()

price = 0

for x in results:
    price = x[0]

# where is it
query = """
SELECT system_populated.name
FROM listing
JOIN station ON station.id=listing.station_id
JOIN system_populated ON station.system_id=system_populated.id
JOIN commodity ON listing.commodity_id=commodity.id
WHERE commodity.name = "{name}" AND listing.buy_price = {price}
""".format(name=name, price=price)

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

('LFT 37',)

In [6]:
# Find the system that buys a given commodity for the highest price.
# BROKEN
name = "Beer"

# get price
query = """
SELECT max_sell_price
FROM commodity
WHERE name = "{name}"
""".format(name=name)

cursor.execute(query)

results = cursor.fetchall()

price = 0

for x in results:
    price = x[0]

# where is it
query = """
SELECT system_populated.name
FROM listing
JOIN station ON station.id=listing.station_id
JOIN system_populated ON station.system_id=system_populated.id
JOIN commodity ON listing.commodity_id=commodity.id
WHERE commodity.name = "{name}" AND listing.buy_price = {price}
""".format(name=name, price=price)

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

In [7]:
# Given a system, station, and range - find the best commodity to buy and sell locally.

trade_range = 12
system_name = "Nerthus"

# Get System Coords
query = """
SELECT x, y, z
FROM system_populated
WHERE name = '{name}'
""".format(name=system_name)

cursor.execute(query)

results = cursor.fetchall()

coords = results[0]

# Get all stations within range with listings
query = """
SELECT station.name, station.id, sys.name, sys.id, commodity.name, commodity.id, listing.sell_price, listing.buy_price, listing.supply
FROM system_populated as sys
JOIN station ON station.system_id = sys.id
JOIN listing ON station.id = listing.station_id
JOIN commodity ON commodity.id=listing.commodity_id
WHERE POWER({trade_range}, 2) >= (POWER(sys.x - {x}, 2) + POWER(sys.y - {y}, 2) + POWER(sys.z - {z}, 2))
""".format(trade_range=trade_range, x=coords[0], y=coords[1], z=coords[2])

cursor.execute(query)

results = cursor.fetchall()

stations = []

min_buy = dict()
max_sell = dict()
profit = dict()

for x in results:
    if x[8] > 0:
        if x[4] in min_buy:
            if min_buy[x[4]] > x[7]:
                min_buy[x[4]] = x[7]
        else:
            min_buy[x[4]] = x[7]

for x in results:
    if x[4] in min_buy:
        if x[4] in max_sell:
            if max_sell[x[4]] < x[6]:
                max_sell[x[4]] = x[6]
        else:
            max_sell[x[4]] = x[6]
            
for x in min_buy:
    profit[x] = max_sell[x] - min_buy[x]

max_profit_commodity = max(profit)
max_profit = profit[max(profit)]
buy_location = None
sell_location = None

for x in results:
    if x[6] == max_sell[max_profit_commodity]:
        sell_location = x
    if x[7] == min_buy[max_profit_commodity]:
        buy_location = x

print(f"Range: {trade_range}")
print(f"Center System: {system_name}")
print(f"Buy Location: {buy_location}")
print(f"Sell Location: {sell_location}")
print(f"Profit: {max_profit}")

Range: 12
Center System: Nerthus
Buy Location: ('Roberts Terminal', 13435, 'Smethells 119', 17035, 'Wine', 12, 376, 424, 9845)
Sell Location: ('Sterling Vista', 43976, 'LHS 3802', 12064, 'Wine', 12, 858, 0, 0)
Profit: 434

In [8]:
# Find the nearest system that provides a specified service also works for finding a black market because it is considered a service

current_system = "Nerthus"
service = "has_blackmarket"

# Get System Coords
query = """
SELECT x, y, z
FROM system_populated
WHERE name = '{name}'
""".format(name=current_system)

cursor.execute(query)

results = cursor.fetchall()

coords = results[0]

query = """
SELECT sys.name, station.name, station.allegiance, (POWER(sys.x - {x}, 2) + POWER(sys.y - {y}, 2) + POWER(sys.z - {z}, 2)) AS Distance
FROM station
JOIN system_populated AS sys
ON sys.id = station.system_id
WHERE {service} = 1
ORDER BY Distance ASC
LIMIT 5
""".format(service=service, x=coords[0], y=coords[1], z=coords[2])

cursor.execute(query)

results = cursor.fetchall()

for x in results:
    print(x)

('Two Ladies', 'Shinn Orbital', 'Independent', 54.40784219000002)
('Two Ladies', 'Beekman Platform', 'Independent', 54.40784219000002)
('Two Ladies', 'Julian Hub', 'Independent', 54.40784219000002)
('Two Ladies', 'Betancourt Horizons', 'Independent', 54.40784219000002)
('CD-46 14401', 'Klein Enterprise', 'Independent', 77.13722968999998)

In [9]:
# Find the rarest module and where to buy it

# Find rare module - that is, a module that is only sold at a single to a few locations
query="""
SELECT module_id, COUNT(*) AS count
FROM selling_module
GROUP BY module_id
ORDER BY count ASC
LIMIT 1
"""
cursor.execute(query)

results = cursor.fetchall()

module_id = results[0][0]

query="""
SELECT sys.name, station.name, module.ship, module.ed_symbol
FROM selling_module
JOIN station
ON selling_module.station_id = station.id
JOIN system_populated AS sys
ON station.system_id = sys.id
JOIN module
ON module.id = selling_module.module_id
WHERE selling_module.module_id = {module_id}
""".format(module_id=module_id)

cursor.execute(query)

results = cursor.fetchall()

print(results[0])

1761
('Kokojina', 'Ali Ring', '0', 'Hpt_Guardian_ShardCannon_Turret_Large')

In [10]:
# Find the best path between two systems given the max jump range of a ship

# yikes

In [11]:
# Buld an aggregation of listing data to display avg buy price, avg sell price, total supply, total demand, etc.
# We are assuming these values have not been aggregated already

#avg buy price
query = """
SELECT commodity.name, AVG(listing.buy_price) as avg
FROM listing
JOIN commodity
ON listing.commodity_id = commodity.id
WHERE listing.supply > 0
GROUP BY listing.commodity_id
ORDER BY avg ASC
"""

cursor.execute(query)

results = cursor.fetchall()

print(f"Avg buy aggregated with {len(results)} entries")

#avg sell price
query = """
SELECT commodity.name, AVG(listing.sell_price) as avg
FROM listing
JOIN commodity
ON listing.commodity_id = commodity.id
GROUP BY listing.commodity_id
ORDER BY avg ASC
"""

cursor.execute(query)

results = cursor.fetchall()

print(f"Avg sell aggregated with {len(results)} entries")

#galactic supply
query = """
SELECT commodity.name, SUM(listing.supply) as sup
FROM listing
JOIN commodity
ON listing.commodity_id = commodity.id
GROUP BY listing.commodity_id
ORDER BY sup DESC
"""

cursor.execute(query)

results = cursor.fetchall()

print(f"Galactic supply aggregated with {len(results)} entries")
for x in results:
    print(x)

#galactic demand
query = """
SELECT commodity.name, SUM(listing.demand) as dem
FROM listing
JOIN commodity
ON listing.commodity_id = commodity.id
GROUP BY listing.commodity_id
ORDER BY dem DESC
"""

cursor.execute(query)

results = cursor.fetchall()

print(f"Galactic demand aggregated with {len(results)} entries")
for x in results:
    print(x)

Avg buy aggregated with 197 entries
Avg sell aggregated with 201 entries
Galactic supply aggregated with 201 entries
('Hydrogen Fuel', Decimal('8622507996'))
('Food Cartridges', Decimal('7609744667'))
('Water Purifiers', Decimal('5593524505'))
('Crop Harvesters', Decimal('5405108424'))
('Aluminium', Decimal('4499168863'))
('Mineral Extractors', Decimal('4192065036'))
('Marine Equipment', Decimal('4067004415'))
('Copper', Decimal('3434573431'))
('Geological Equipment', Decimal('3260480238'))
('Polymers', Decimal('3223017381'))
('Titanium', Decimal('2829344848'))
('Scrap', Decimal('2746016414'))
('Fruit and Vegetables', Decimal('2651238771'))
('Cobalt', Decimal('2624364005'))
('Grain', Decimal('2591814512'))
('Synthetic Fabrics', Decimal('2377531050'))
('Building Fabricators', Decimal('2375073554'))
('Bauxite', Decimal('2130491662'))
('Algae', Decimal('2048706884'))
('Power Generators', Decimal('1862035931'))
('Lithium', Decimal('1647718923'))
('Atmospheric Processors', Decimal('1638971590'))
('Indium', Decimal('1412728238'))
('HN Shock Mount', Decimal('1221969940'))
('Lepidolite', Decimal('1184646712'))
('Explosives', Decimal('1156035041'))
('Tantalum', Decimal('1121994927'))
('Uraninite', Decimal('1104659408'))
('Coffee', Decimal('1054790710'))
('Uranium', Decimal('1031939012'))
('Water', Decimal('1017656830'))
('Superconductors', Decimal('941972012'))
('Surface Stabilisers', Decimal('918959479'))
('Tea', Decimal('880788057'))
('Rutile', Decimal('831648318'))
('Gallium', Decimal('815752129'))
('Mineral Oil', Decimal('743259878'))
('Conductive Fabrics', Decimal('711740259'))
('Fish', Decimal('701838664'))
('Gallite', Decimal('667714909'))
('Military Grade Fabrics', Decimal('631046665'))
('Basic Medicines', Decimal('620792124'))
('Bertrandite', Decimal('550857555'))
('Clothing', Decimal('542470455'))
('Coltan', Decimal('522138811'))
('Indite', Decimal('482281328'))
('Semiconductors', Decimal('421524543'))
('Thermal Cooling Units', Decimal('376664586'))
('Animal Meat', Decimal('375016332'))
('Biowaste', Decimal('355550034'))
('Domestic Appliances', Decimal('339427170'))
('Silver', Decimal('281869708'))
('Tritium', Decimal('279131866'))
('Computer Components', Decimal('272094671'))
('Animal Monitors', Decimal('267323410'))
('Beer', Decimal('266780228'))
('Survival Equipment', Decimal('258354223'))
('Imperial Slaves', Decimal('250446997'))
('Liquid oxygen', Decimal('245448052'))
('Wine', Decimal('201843418'))
('Resonating Separators', Decimal('178107826'))
('Bismuth', Decimal('162267115'))
('Synthetic Meat', Decimal('159944944'))
('Beryllium', Decimal('157798474'))
('Pesticides', Decimal('156641096'))
('Land Enrichment Systems', Decimal('154461687'))
('Leather', Decimal('152341241'))
('Gold', Decimal('147179460'))
('Natural Fabrics', Decimal('141513022'))
('Skimmer Components', Decimal('140678612'))
('Thallium', Decimal('113512102'))
('Aquaponic Systems', Decimal('111549332'))
('Auto-Fabricators', Decimal('103408426'))
('Ceramic Composites', Decimal('87894973'))
('Advanced Catalysers', Decimal('78698024'))
('Agri-Medicines', Decimal('73382328'))
('Tobacco', Decimal('73256765'))
('Personal Weapons', Decimal('70865270'))
('Bioreducing Lichen', Decimal('64733027'))
('Microbial Furnaces', Decimal('62922792'))
('Robotics', Decimal('55567417'))
('Consumer Technology', Decimal('41859823'))
('Progenitor Cells', Decimal('38364635'))
('Non-Lethal Weapons', Decimal('37697749'))
('Performance Enhancers', Decimal('26125974'))
('Palladium', Decimal('23636101'))
('Lanthanum', Decimal('18370350'))
('Reactive Armour', Decimal('16969968'))
('Medical Diagnostic Equipment', Decimal('15366360'))
('Micro Controllers', Decimal('14965068'))
('H.E. Suits', Decimal('12548123'))
('Thorium', Decimal('11367921'))
('Structural Regulators', Decimal('10625928'))
('Narcotics', Decimal('10106040'))
('Liquor', Decimal('9666283'))
('Agronomic Treatment', Decimal('8654398'))
('Cryolite', Decimal('7865702'))
('Advanced Medicines', Decimal('6305560'))
('Landmines', Decimal('6088245'))
('Goslarite', Decimal('6025117'))
('Evacuation Shelter', Decimal('5969288'))
('Synthetic Reagents', Decimal('5617041'))
('Insulating Membrane', Decimal('5306390'))
('Pyrophyllite', Decimal('5152220'))
('Battle Weapons', Decimal('4415345'))
('Combat Stabilisers', Decimal('2861908'))
('Slaves', Decimal('2668035'))
('Power Converter', Decimal('1158182'))
('Nerve Agents', Decimal('1104753'))
('Emergency Power Cells', Decimal('655963'))
('CMM Composite', Decimal('522138'))
('Exhaust Manifold', Decimal('508736'))
('Heatsink Interlink', Decimal('493414'))
('Magnetic Emitter Coil', Decimal('465947'))
('Muon Imager', Decimal('440310'))
('Ion Distributor', Decimal('424351'))
('Power Transfer Bus', Decimal('384178'))
('Energy Grid Assembly', Decimal('276507'))
('Radiation Baffle', Decimal('172645'))
('Low Temperature Diamonds', Decimal('57915'))
('Reinforced Mounting Plate', Decimal('29484'))
('Hardware Diagnostic Sensor', Decimal('17286'))
('Painite', Decimal('9135'))
('Meta-Alloys', Decimal('3754'))
('Samarium', Decimal('2822'))
('Platinum', Decimal('2781'))
('Praseodymium', Decimal('2555'))
('Osmium', Decimal('2165'))
('Lithium Hydroxide', Decimal('1073'))
('Void Opals', Decimal('1014'))
('Bromellite', Decimal('1005'))
('Methane Clathrate', Decimal('997'))
('Hydrogen Peroxide', Decimal('947'))
('Modular Terminals', Decimal('823'))
('Grandidierite', Decimal('771'))
('Micro-weave Cooling Hoses', Decimal('770'))
('Alexandrite', Decimal('697'))
('Articulation Motors', Decimal('663'))
('Nanobreakers', Decimal('578'))
('Methanol Monohydrate Crystals', Decimal('567'))
('Neofabric Insulation', Decimal('531'))
('Soontill Relics', Decimal('400'))
('Monazite', Decimal('190'))
('Benitoite', Decimal('184'))
('Rhodplumsite', Decimal('145'))
('Jaques Quinentian Still', Decimal('81'))
('Xihe Biomorphic Companions', Decimal('80'))
('Medb Starlube', Decimal('77'))
('Sanuma Decorative Meat', Decimal('77'))
('The Hutton Mug', Decimal('68'))
('Hafnium 178', Decimal('65'))
('Musgravite', Decimal('57'))
('Serendibite', Decimal('45'))
('Kamitra Cigars', Decimal('45'))
('Toxandji Virocide', Decimal('42'))
('Altairian Skin', Decimal('42'))
('Zeessze Ant Grub Glue', Decimal('41'))
('Moissanite', Decimal('36'))
('Fujin Tea', Decimal('35'))
('Pavonis Ear Grubs', Decimal('30'))
('Kinago Violins', Decimal('28'))
('Centauri Mega Gin', Decimal('28'))
('Leestian Evil Juice', Decimal('28'))
('Delta Phoenicis Palms', Decimal('26'))
('Non Euclidian Exotanks', Decimal('24'))
('HR 7221 Wheat', Decimal('24'))
('Giant Irukama Snails', Decimal('24'))
('Vanayequi Ceratomorpha Fur', Decimal('23'))
('Utgaroar Millennial Eggs', Decimal('23'))
('HIP 10175 Bush Meat', Decimal('20'))
('Tiolce Waste2Paste Units', Decimal('20'))
('Wheemete Wheat Cakes', Decimal('19'))
('Tanmark Tranquil Tea', Decimal('18'))
('Jaroua Rice', Decimal('18'))
('Karsuki Locusts', Decimal('18'))
('Alya Body Soap', Decimal('16'))
('Onionhead', Decimal('16'))
('Lucan Onionhead', Decimal('16'))
('Anduliga Fire Works', Decimal('16'))
('Bast Snake Gin', Decimal('15'))
('Ochoeng Chillies', Decimal('14'))
('Azure Milk', Decimal('14'))
('Kamorin Historic Weapons', Decimal('12'))
('Volkhab Bee Drones', Decimal('12'))
('Rapa Bao Snake Skins', Decimal('11'))
('Platinum Alloy', Decimal('11'))
('Bootleg Liquor', Decimal('10'))
('Onionhead Alpha Strain', Decimal('10'))
('Lyrae Weed', Decimal('10'))
('Rusani Old Smokey', Decimal('10'))
('Albino Quechua Mammoth Meat', Decimal('10'))
('Kachirigin Filter Leeches', Decimal('10'))
('Taaffeite', Decimal('9'))
('Helvetitj Pearls', Decimal('6'))
('Vidavantian Lace', Decimal('5'))
('Ultra-Compact Processor Prototypes', Decimal('3'))
('Jadeite', Decimal('2'))
('Chemical Waste', Decimal('0'))
('Telemetry Suite', Decimal('0'))
('Toxic Waste', Decimal('0'))
('Trinkets of Hidden Fortune', Decimal('0'))
Galactic demand aggregated with 201 entries
('Natural Fabrics', Decimal('32612095839'))
('Synthetic Fabrics', Decimal('30334874718'))
('Polymers', Decimal('30131356970'))
('Leather', Decimal('24481342855'))
('Ceramic Composites', Decimal('21699507726'))
('Aluminium', Decimal('20823111237'))
('Semiconductors', Decimal('20194510196'))
('H.E. Suits', Decimal('19072763264'))
('Copper', Decimal('15724123626'))
('Biowaste', Decimal('14451166558'))
('Hydrogen Peroxide', Decimal('12504160784'))
('Uranium', Decimal('10787287093'))
('Titanium', Decimal('9791894543'))
('Lithium', Decimal('9735972310'))
('Liquid oxygen', Decimal('9326012859'))
('Algae', Decimal('9025554667'))
('Conductive Fabrics', Decimal('8634535609'))
('Tantalum', Decimal('7186384607'))
('Grain', Decimal('6783006490'))
('Mineral Oil', Decimal('6467714306'))
('Bauxite', Decimal('5494617108'))
('Beer', Decimal('5227484678'))
('Methane Clathrate', Decimal('4783932193'))
('Aquaponic Systems', Decimal('4761122115'))
('Water', Decimal('4726925146'))
('Silver', Decimal('4565819850'))
('Animal Monitors', Decimal('4299317668'))
('Uraninite', Decimal('4279203328'))
('Gallium', Decimal('4270489600'))
('Lepidolite', Decimal('4088367453'))
('Cobalt', Decimal('3832194449'))
('Rutile', Decimal('3723084180'))
('Goslarite', Decimal('3615462553'))
('Wine', Decimal('3597583564'))
('Micro-weave Cooling Hoses', Decimal('3584961442'))
('Coltan', Decimal('3566458160'))
('Clothing', Decimal('3535408662'))
('Pyrophyllite', Decimal('3476982098'))
('Gallite', Decimal('3399929894'))
('Advanced Catalysers', Decimal('3166316240'))
('Indite', Decimal('3093321510'))
('Robotics', Decimal('3058623994'))
('Cryolite', Decimal('3032078399'))
('Gold', Decimal('2935890425'))
('Palladium', Decimal('2846380213'))
('Bertrandite', Decimal('2780208219'))
('Superconductors', Decimal('2765547301'))
('Fish', Decimal('2664225904'))
('Bioreducing Lichen', Decimal('2641405660'))
('Osmium', Decimal('2631711576'))
('Mineral Extractors', Decimal('2563716266'))
('Advanced Medicines', Decimal('2440552228'))
('Praseodymium', Decimal('2299327908'))
('Indium', Decimal('2170604213'))
('Beryllium', Decimal('1953164789'))
('Microbial Furnaces', Decimal('1894835448'))
('Land Enrichment Systems', Decimal('1877019567'))
('Resonating Separators', Decimal('1750219417'))
('Water Purifiers', Decimal('1538502077'))
('Samarium', Decimal('1463212322'))
('Crop Harvesters', Decimal('1159886867'))
('CMM Composite', Decimal('1138602009'))
('Fruit and Vegetables', Decimal('1124497738'))
('Power Generators', Decimal('1114284404'))
('Domestic Appliances', Decimal('1049849983'))
('Explosives', Decimal('994298914'))
('Animal Meat', Decimal('980400282'))
('Auto-Fabricators', Decimal('869661618'))
('Lithium Hydroxide', Decimal('869255651'))
('Agri-Medicines', Decimal('832281094'))
('Consumer Technology', Decimal('828662928'))
('Hydrogen Fuel', Decimal('820511708'))
('Atmospheric Processors', Decimal('814528110'))
('Tea', Decimal('783474235'))
('Basic Medicines', Decimal('777273941'))
('Insulating Membrane', Decimal('712221724'))
('Scrap', Decimal('643468914'))
('Synthetic Meat', Decimal('612934568'))
('Performance Enhancers', Decimal('572494618'))
('Chemical Waste', Decimal('511882479'))
('Emergency Power Cells', Decimal('502623840'))
('Progenitor Cells', Decimal('406659156'))
('Pesticides', Decimal('377868881'))
('Methanol Monohydrate Crystals', Decimal('372455412'))
('Platinum', Decimal('355284756'))
('Micro Controllers', Decimal('328422582'))
('Marine Equipment', Decimal('320050750'))
('Thallium', Decimal('313078795'))
('Bismuth', Decimal('313054989'))
('Computer Components', Decimal('306561172'))
('Reactive Armour', Decimal('288191174'))
('Thorium', Decimal('272328418'))
('Lanthanum', Decimal('248755028'))
('Tobacco', Decimal('243707090'))
('Coffee', Decimal('240987422'))
('Moissanite', Decimal('212537606'))
('Liquor', Decimal('209399476'))
('Agronomic Treatment', Decimal('174975149'))
('Surface Stabilisers', Decimal('160761758'))
('Bromellite', Decimal('151171046'))
('Non-Lethal Weapons', Decimal('131822578'))
('Tritium', Decimal('130124532'))
('Jadeite', Decimal('103794265'))
('Taaffeite', Decimal('103794250'))
('Neofabric Insulation', Decimal('97681918'))
('Food Cartridges', Decimal('92557915'))
('Painite', Decimal('79268954'))
('Imperial Slaves', Decimal('77117201'))
('Personal Weapons', Decimal('69497466'))
('Nanobreakers', Decimal('62166042'))
('Exhaust Manifold', Decimal('56866569'))
('Power Converter', Decimal('51803327'))
('Magnetic Emitter Coil', Decimal('50498897'))
('Low Temperature Diamonds', Decimal('48763556'))
('Telemetry Suite', Decimal('46227694'))
('Evacuation Shelter', Decimal('42579913'))
('Military Grade Fabrics', Decimal('42396499'))
('Building Fabricators', Decimal('37799532'))
('Energy Grid Assembly', Decimal('37712602'))
('Modular Terminals', Decimal('35646219'))
('Thermal Cooling Units', Decimal('35242144'))
('Medical Diagnostic Equipment', Decimal('33845445'))
('Heatsink Interlink', Decimal('33680301'))
('Bootleg Liquor', Decimal('30093118'))
('HN Shock Mount', Decimal('28375964'))
('Meta-Alloys', Decimal('24097675'))
('Hardware Diagnostic Sensor', Decimal('22504383'))
('Benitoite', Decimal('22098990'))
('Serendibite', Decimal('22098521'))
('Grandidierite', Decimal('22097640'))
('Musgravite', Decimal('22096164'))
('Alexandrite', Decimal('22095545'))
('Synthetic Reagents', Decimal('19666427'))
('Rhodplumsite', Decimal('18747329'))
('Void Opals', Decimal('12261506'))
('Articulation Motors', Decimal('12196168'))
('Nerve Agents', Decimal('12120566'))
('Monazite', Decimal('11713381'))
('Ion Distributor', Decimal('11239200'))
('Geological Equipment', Decimal('11179041'))
('Radiation Baffle', Decimal('10830922'))
('Combat Stabilisers', Decimal('8804464'))
('Slaves', Decimal('7376242'))
('Battle Weapons', Decimal('6056973'))
('Skimmer Components', Decimal('5166619'))
('Muon Imager', Decimal('4335213'))
('Structural Regulators', Decimal('3511370'))
('Narcotics', Decimal('2707485'))
('Reinforced Mounting Plate', Decimal('2626576'))
('Landmines', Decimal('1959205'))
('Survival Equipment', Decimal('739390'))
('Power Transfer Bus', Decimal('605678'))
('Trinkets of Hidden Fortune', Decimal('256'))
('Toxic Waste', Decimal('128'))
('Hafnium 178', Decimal('100'))
('Ochoeng Chillies', Decimal('0'))
('Onionhead Alpha Strain', Decimal('0'))
('Alya Body Soap', Decimal('0'))
('Lyrae Weed', Decimal('0'))
('Rusani Old Smokey', Decimal('0'))
('Non Euclidian Exotanks', Decimal('0'))
('Vidavantian Lace', Decimal('0'))
('Onionhead', Decimal('0'))
('Albino Quechua Mammoth Meat', Decimal('0'))
('Kamorin Historic Weapons', Decimal('0'))
('Tanmark Tranquil Tea', Decimal('0'))
('Lucan Onionhead', Decimal('0'))
('HIP 10175 Bush Meat', Decimal('0'))
('Medb Starlube', Decimal('0'))
('Volkhab Bee Drones', Decimal('0'))
('Helvetitj Pearls', Decimal('0'))
('HR 7221 Wheat', Decimal('0'))
('Vanayequi Ceratomorpha Fur', Decimal('0'))
('Kachirigin Filter Leeches', Decimal('0'))
('Giant Irukama Snails', Decimal('0'))
('Toxandji Virocide', Decimal('0'))
('Rapa Bao Snake Skins', Decimal('0'))
('Ultra-Compact Processor Prototypes', Decimal('0'))
('Sanuma Decorative Meat', Decimal('0'))
('Pavonis Ear Grubs', Decimal('0'))
('Tiolce Waste2Paste Units', Decimal('0'))
('Anduliga Fire Works', Decimal('0'))
('Kinago Violins', Decimal('0'))
('Platinum Alloy', Decimal('0'))
('Jaroua Rice', Decimal('0'))
('Bast Snake Gin', Decimal('0'))
('Zeessze Ant Grub Glue', Decimal('0'))
('Delta Phoenicis Palms', Decimal('0'))
('Utgaroar Millennial Eggs', Decimal('0'))
('Soontill Relics', Decimal('0'))
('Altairian Skin', Decimal('0'))
('Xihe Biomorphic Companions', Decimal('0'))
('Wheemete Wheat Cakes', Decimal('0'))
('Centauri Mega Gin', Decimal('0'))
('The Hutton Mug', Decimal('0'))
('Leestian Evil Juice', Decimal('0'))
('Azure Milk', Decimal('0'))
('Fujin Tea', Decimal('0'))
('Karsuki Locusts', Decimal('0'))
('Jaques Quinentian Still', Decimal('0'))
('Kamitra Cigars', Decimal('0'))

In [21]:
# find the best path from point A to point B given a max jump range

# get the data

class System:
    def __init__(self, x, y, z, id, name):
        self.x = x
        self.y = y
        self.z = z
        self.name = name
        self.id = id

    def to_string(self):
        return f"{self.name},{self.x},{self.y},{self.z},{self.id}"

def get_system_by_id(id):
    query = """
    SELECT *
    FROM system_populated
    WHERE id = {id}
    """.format(id=id)
    cursor.execute(query)
    systems = cursor.fetchall()
    return systems[0]

nerthus_id = 14324
sol_id = 17072
ladies_id = 18097

query = """
SELECT *
FROM system_populated
"""
cursor.execute(query)

mysql_systems = cursor.fetchall()

systems = []

def mysql_to_class(mysql):
    return System(mysql[3], mysql[4], mysql[5], mysql[0], mysql[2])

for system in tqdm(mysql_systems, desc="Building system classes"):
    systems.append(mysql_to_class(system))

def economic_func(u, v, edge, prev_edge):
    return edge

def fastest_func(u, v, edge, prev_edge):
    return 1

def distance_between_systems(sys1, sys2):
    return ((sys1.x - sys2.x)**2 + (sys1.y - sys2.y)**2 + (sys1.z - sys2.z)**2)**0.5

# @param start : System to start path
# @param end : System to end path
# @param max_jump : 
# @param start System to start path
# @param start System to start path
# using System class
def trimmed_path(start, end, max_jump, buffer, systems):
    segment_length = distance_between_systems(start, end)
    max_sum_of_hypotenuse = buffer + segment_length
    graph = Graph()

    tot = 0

    for system_1 in tqdm(systems, desc=f"Building Graph buffer_length: {buffer}"):
        if max_sum_of_hypotenuse < distance_between_systems(system_1, start) + distance_between_systems(system_1, end):
            continue
        for system_2 in systems:
            if system_2.id == system_1.id:
                continue
            if max_sum_of_hypotenuse < distance_between_systems(system_2, start) + distance_between_systems(system_2, end):
                continue

            distance = distance_between_systems(system_1, system_2)
            if distance < max_jump:
                tot+=1
                graph.add_edge(system_1.id, system_2.id, distance)

    try:
        return True, find_path(graph, start.id, end.id, cost_func=economic_func)            
    except:
        return False, None, tot

start = mysql_to_class(get_system_by_id(nerthus_id))
end = mysql_to_class(get_system_by_id(sol_id))

buffer = 7
max_jump = 20

paths = trimmed_path(start, end, max_jump, buffer, systems)
for x in paths:
    print(x)

Building system classes: 100%|██████████| 20569/20569 [00:00<00:00, 261792.40it/s]
Building Graph buffer_length: 7: 100%|██████████| 20569/20569 [00:02<00:00, 7512.39it/s]True
PathInfo(nodes=[14324, 12064, 17784, 16629, 12066, 4592, 17072], edges=[10.132365453831598, 18.479799064113227, 9.328445660987684, 14.383080555378255, 10.756289439323394, 11.80240971158009], costs=[10.132365453831598, 18.479799064113227, 9.328445660987684, 14.383080555378255, 10.756289439323394, 11.80240971158009], total_cost=74.88238988521425)